@model AlkoBot.Models.Cocktail
@{
    ViewBag.Title = "Cocktail Info";
}

<h2>Коктейль @Model.Name</h2>
<div>
    <img src="~/images/@Model.CocktailPicture"
         class="rounded-circle"
         height="40" width="40"
         asp-append-version="true" />

    <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd>@Model.CocktailId</dd>

        <dt>Описание</dt>
        <dd>@Model.Description</dd>

        <dt>Рецепт</dt>
        <dd>@Model.Recipe</dd>
    </dl>

</div>
