@model AlkoBot.Models.Cocktail
@{
}

<h2>Коктейль @Model.Name</h2>
<div>
    <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd>@Model.CocktailId</dd>

        <dt>Описание</dt>
        <dd>@Model.Description</dd>

        <dt>Рецепт</dt>
        <dd>@Model.Recipe</dd>
    </dl>
</div>
